body {
  width: 400px;
  font-family: sans-serif;
}

#container {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#security-bar {
  color: white;
  text-align: center;
  padding: 10px;
}

.secure {
  background-color: #4CAF50;
}

.default {
  background-color: white;
}

.insecure {
  background-color: #f44336;
}

#status-container-message {
  color: black;
  text-align: center;
  padding: 10px;
}